#disc-form {
    display: none;
}

#discs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td {
    border: 1px solid;
    padding: 10px;
}

#disc-table {
    margin-bottom: 10px;
}

